.hangman-container {
    height: 300px;
    display: flex;
    border-bottom: 1px solid black;
    padding: 20px;
}

.bottom-bar {
    width: 140px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: 310px;
    left: calc(50% - 40px);
    transform: translate(-50%, -50%);
}

.straight-bar {
    width: 7px;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 160px;
    left: calc(50% - 40px);
    transform: translate(-50%, -50%);
}

.upper-bar {
    width: 127px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: 10px;
    left: calc(50% + 20px);
    transform: translate(-50%, -50%);
}

.hanging-down-bar {
    width: 7px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: calc(50% + 80px);
    transform: translate(-50%, -50%);
}

.head {
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-radius: 40px;
    position: absolute;
    top: 70px;
    left: calc(50% + 80px);
    transform: translate(-50%, -50%);
}

.neck-torso {
    width: 7px;
    height: 90px;
    background-color: black;
    position: absolute;
    top: 140px;
    left: calc(50% + 80px);
    transform: translate(-50%, -50%);
}

.left-arm {
    width: 7px;
    height: 80px;
    background-color: black;
    position: absolute;
    top: 150px;
    left: calc(50% + 60px);
    transform: translate(-50%, -50%) rotate(30deg);
}

.right-arm {
    width: 7px;
    height: 80px;
    background-color: black;
    position: absolute;
    top: 150px;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%) rotate(-30deg);
}

.left-leg {
    width: 7px;
    height: 90px;
    background-color: black;
    position: absolute;
    top: 220px;
    left: calc(50% + 58px);
    transform: translate(-50%, -50%) rotate(30deg);
}

.right-leg {
    width: 7px;
    height: 80px;
    background-color: black;
    position: absolute;
    top: 220px;
    left: calc(50% + 101px);
    transform: translate(-50%, -50%) rotate(-30deg);
}

@media only screen and (max-width: 400px) {
    .hangman-container {
        height: 250px;
        display: flex;
        margin-bottom: 20px;
    }

    .bottom-bar {
        width: 70px;
        height: 5px;
        background-color: black;
        position: absolute;
        top: 235px;
        left: calc(50% - 25px);
        transform: translate(-50%, -50%);
    }

    .straight-bar {
        width: 5px;
        height: 150px;
        background-color: black;
        position: absolute;
        top: 160px;
        left: calc(50% - 25px);
        transform: translate(-50%, -50%);
    }

    .upper-bar {
        width: 70px;
        height: 5px;
        background-color: black;
        position: absolute;
        top: 83px;
        left: calc(50% + 7px);
        transform: translate(-50%, -50%);
    }

    .hanging-down-bar {
        width: 5px;
        height: 20px;
        background-color: black;
        position: absolute;
        top: 91px;
        left: calc(50% + 39px);
        transform: translate(-50%, -50%);
    }

    .head {
        width: 25px;
        height: 25px;
        border: 3px solid black;
        border-radius: 40px;
        position: absolute;
        top: 114px;
        left: calc(50% + 39px);
        transform: translate(-50%, -50%);
    }

    .neck-torso {
        width: 3px;
        height: 45px;
        background-color: black;
        position: absolute;
        top: 152px;
        left: calc(50% + 39px);
        transform: translate(-50%, -50%);
    }

    .left-arm {
        width: 3px;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 156px;
        left: calc(50% + 27px);
        transform: translate(-50%, -50%) rotate(30deg);
    }

    .right-arm {
        width: 3px;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 156px;
        left: calc(50% + 51px);
        transform: translate(-50%, -50%) rotate(-30deg);
    }

    .left-leg {
        width: 3px;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 196px;
        left: calc(50% + 26px);
        transform: translate(-50%, -50%) rotate(30deg);
    }

    .right-leg {
        width: 3px;
        height: 50px;
        background-color: black;
        position: absolute;
        top: 196px;
        left: calc(50% + 52px);
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}

@media only screen and (min-height: 900px) {
    .bottom-bar {
        width: 140px;
        height: 7px;
        background-color: black;
        position: absolute;
        top: calc(310px + 10vh);
        left: calc(50% - 40px);
        transform: translate(-50%, -50%);
    }

    .straight-bar {
        width: 7px;
        height: 300px;
        background-color: black;
        position: absolute;
        top: calc(160px + 10vh);
        left: calc(50% - 40px);
        transform: translate(-50%, -50%);
    }

    .upper-bar {
        width: 127px;
        height: 7px;
        background-color: black;
        position: absolute;
        top: calc(10px + 10vh);
        left: calc(50% + 20px);
        transform: translate(-50%, -50%);
    }

    .hanging-down-bar {
        width: 7px;
        height: 30px;
        background-color: black;
        position: absolute;
        top: calc(25px + 10vh);
        left: calc(50% + 80px);
        transform: translate(-50%, -50%);
    }

    .head {
        width: 50px;
        height: 50px;
        border: 5px solid black;
        border-radius: 40px;
        position: absolute;
        top: calc(70px + 10vh);
        left: calc(50% + 80px);
        transform: translate(-50%, -50%);
    }

    .neck-torso {
        width: 7px;
        height: 90px;
        background-color: black;
        position: absolute;
        top: calc(140px + 10vh);
        left: calc(50% + 80px);
        transform: translate(-50%, -50%);
    }

    .left-arm {
        width: 7px;
        height: 80px;
        background-color: black;
        position: absolute;
        top: calc(150px + 10vh);
        left: calc(50% + 60px);
        transform: translate(-50%, -50%) rotate(30deg);
    }

    .right-arm {
        width: 7px;
        height: 80px;
        background-color: black;
        position: absolute;
        top: calc(150px + 10vh);
        left: calc(50% + 100px);
        transform: translate(-50%, -50%) rotate(-30deg);
    }

    .left-leg {
        width: 7px;
        height: 90px;
        background-color: black;
        position: absolute;
        top: calc(220px + 10vh);
        left: calc(50% + 58px);
        transform: translate(-50%, -50%) rotate(30deg);
    }

    .right-leg {
        width: 7px;
        height: 80px;
        background-color: black;
        position: absolute;
        top: calc(220px + 10vh);
        left: calc(50% + 101px);
        transform: translate(-50%, -50%) rotate(-30deg);
    }
}
